/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

###  Compiled class file ##
*.class
/target

###  Log file  ##
*.log

###  Package Files ##
*.jar
*.war

### front end ###
/src/main/resources/static/


###  temp files ###*.bak
*.tem
*.temp
#.swp
*.*~
~*.*