<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/html_head :: head(~{::title},~{},~{})">
  <title>智汇 | 找不到页面</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <!-- Main content -->
      <div class="error-page">
        <h2 class="headline text-yellow"> 404 </h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> 呀！页面找不到...</h3>
          <p>
            您所访问的页面未能找到，您可以点击这里<a href="/index">返回主页</a> 或者尝试搜索。
          </p>

          <form action="/search" method="get" class="search-form" role="search">
            <div class="input-group">
              <input type="text" name="tableName" class="form-control sql-injection-filter" placeholder="搜索收集表..." required>
              <span class="input-group-btn">
              <button type="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            </div>
          </form>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->


    <!-- Js 脚本 -->
    <div th:insert="common/html_js :: div_js"></div>
</body>
</html>
